<div (click)="navigateToCharacterDetails()"
     class="shadow-lg rounded-xl bg-light-theme-secondary-bg dark:bg-dark-theme-secondary-bg text-light-theme-main-text dark:text-dark-theme-main-text hover:text-orange hover:dark:text-orange cursor-pointer transition-all duration-200 ease-in-out hover:scale-95 hover:shadow-sm"
>
  <div>
    <img src="{{character.image}}" alt="character-image" class="w-full rounded-t-xl">
  </div>
  <div class="p-4">
    <div class="text-xl font-bold overflow-hidden whitespace-nowrap overflow-ellipsis">{{character.name}}</div>
    <div class="flex items-center text-dark-theme-secondary-text dark:text-dark-theme-secondary-text">
      <div class="w-2.5 h-2.5 min-w-[0.625rem] rounded-full mr-1.5" [style.background-color]="character.status === 'Dead' ? '#ff4242' : character.status === 'Alive' ? '#0aea0a' : '#aeaeae'"></div>
      <div class="capitalize">{{character.status}}</div>
      <div class="mx-1.5">-</div>
      <div class="whitespace-nowrap overflow-ellipsis overflow-hidden">{{character.species}}</div>
    </div>
  </div>
</div>
