<div class="grid grid-rows-2 grid-cols-2 sm:grid-rows-1 sm:grid-cols-4 gap-4">
  <input type="text"
         placeholder="Character name"
         class="h-8 px-3 rounded-xl text-orange font-semibold bg-light-theme-secondary-bg dark:bg-dark-theme-secondary-bg focus: outline-0 placeholder:text-dark-theme-secondary-text placeholder:opacity-50 transition-colors duration-200 ease-in-out"
         [(ngModel)]="characterListFilter.name"
         (ngModelChange)="debounceEmitCharacterListFilter()">
  <ng-select class="ng-select-default"
             placeholder="Alive status"
             [items]="characterAliveStatusTypes"
             [(ngModel)]="characterListFilter.status"
             [searchable]="false"
             (ngModelChange)="emitCharacterListFilter()">
  </ng-select>
  <ng-select class="ng-select-default"
             placeholder="Gender"
             [items]="characterGenderTypes"
             [(ngModel)]="characterListFilter.gender"
             (ngModelChange)="emitCharacterListFilter()">
  </ng-select>
  <app-button [buttonName]="'Reset Filter'"
              (click)="resetCharacterListFilter()">
  </app-button>
</div>
