<div class="flex items-center">
  <fa-icon [icon]="themeIconDay"
           class="text-orange text-lg sm:text-2xl mr-2 sm:mr-3">
  </fa-icon>
  <button type="button"
          (click)="toggleAppTheme()"
          class="px-3.5 py-2 sm:px-6 sm:py-3.5 rounded-3xl bg-orange relative duration-200 before:content[''] before:absolute before:bg-white before:rounded-full before:transition-all before:ease-in-out before:duration-200 before:w-3 before:h-3 before:top-0.5 before:left-0.5 dark:before:left-3.5 sm:before:w-5 sm:before:h-5 sm:before:top-1 sm:before:left-1 sm:dark:before:left-6">
  </button>
  <fa-icon [icon]="themeIconNight"
           class="text-orange text-lg sm:text-2xl ml-2 sm:ml-3">
  </fa-icon>
</div>
