<div class="sticky top-[48px] sm:top-[56px] z-10">
  <app-control-section [hasBackToCharacterListButton]="true"
                       [backToCharactersListQueryParams]="previousNavigationParams">
  </app-control-section>
</div>
<div class="container">
  <app-loading *ngIf="isCharacterLoading$ | async"></app-loading>
  <app-backend-error-message
    *ngIf="characterError$ | async"
    [errorMessage]="(characterError$ | async)!.error.error">
  </app-backend-error-message>
  <ng-container *ngIf="(character$ | async) && (firstEpisode$ | async)">
    <app-detail-character [character]="(character$ | async)!"
                          [firstEpisode]="(firstEpisode$ | async)!">
    </app-detail-character>
  </ng-container>
</div>

