<div class="p-4 flex rounded-2xl bg-light-theme-secondary-bg dark:bg-dark-theme-secondary-bg transition-colors duration-200 ease-in-out">
  <img class="rounded-2xl" src="{{character.image}}" alt="character image">
  <div class="ml-4">
    <div class="text-3xl font-bold text-light-theme-main-text dark:text-dark-theme-main-text transition-colors duration-200 ease-in-out">{{character.name}}</div>
    <ng-container *ngIf="character.status"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Status', value: character.status, icon: aliveIcon}">
    </ng-container>
    <ng-container *ngIf="character.gender"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Gender', value: character.gender, icon: genderIcon}">
    </ng-container>
    <ng-container *ngIf="character.species"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Species', value: character.species, icon: speciesIcon}">
    </ng-container>
    <ng-container *ngIf="character.type"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Type', value: character.type, icon: typeIcon}">
    </ng-container>
    <ng-container *ngIf="character.episode"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Series count', value: character.episode.length + ' Episodes', icon: seenCountIcon}">
    </ng-container>
    <ng-container *ngIf="firstEpisode"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'First seen in', value: getFirstEpisodeString(), icon: firstSeenIcon}">
    </ng-container>
    <ng-container *ngIf="character.location"
                  [ngTemplateOutlet]="characterPropertyTemplate"
                  [ngTemplateOutletContext]="{title: 'Last known location', value: character.location.name, icon: locationIcon}">
    </ng-container>
  </div>
</div>

<ng-template #characterPropertyTemplate let-title="title" let-value="value" let-icon="icon">
  <div class="mt-2 text-xl flex">
    <div class="w-7 flex justify-center mr-2">
      <fa-icon class="text-orange" [icon]="icon"></fa-icon>
    </div>
    <div class="w-56 font-semibold text-light-theme-secondary-text dark:text-dark-theme-main-text transition-colors duration-200 ease-in-out">
      {{title}}:
    </div>
    <div class="text-dark-theme-secondary-text transition-colors duration-200 ease-in-out">
      {{value}}
    </div>
  </div>
</ng-template>
