<div class="flex gap-3">
  <button type="button"
          (click)="navigateToFirstPage()"
          [disabled]="currentPage === 1">
    <<
  </button>
  <button type="button"
          (click)="navigateToPrevPage()"
          [disabled]="currentPage === 1">
    <
  </button>
  <div>{{currentPage}}</div>
  <div>/</div>
  <div>{{pageCount}}</div>
  <button type="button"
          (click)="navigateToNextPage()"
          [disabled]="currentPage === pageCount">
    >
  </button>
  <button type="button"
          (click)="navigateToLastPage()"
          [disabled]="currentPage === pageCount">
    >>
  </button>
</div>
