<footer class="h-8 flex justify-center items-center text-sm text-light-theme-secondary-text dark:text-dark-theme-main-text shadow transition-colors duration-200 ease-in-out bg-light-theme-secondary-bg dark:bg-dark-theme-secondary-bg">
  <fa-icon [icon]="codeIcon" class="mr-1 text-xs"></fa-icon>
  by
  <a href="https://github.com/NKisiura" target="_blank" class="mx-1 font-bold relative cursor-pointer text-light-theme-main-text dark:text-dark-theme-main-text transition-colors duration-200 ease-in-out hover:text-orange hover:dark:text-orange before:absolute before:content[''] before:w-0 before:h-0.5 before:bg-orange before:bottom-0 before:transition-all duration-200 ease-in-out hover:before:w-full"
  >
    Nikita Kisiura
  </a>
  2022
</footer>
