<div class="sticky top-[48px] sm:top-[56px] z-10">
  <app-control-section [style.top.px]="isHideControls ? -200 : 0" class="relative top-0 lg:static w-full transition-all duration-500">
    <div class="flex flex-col gap-4 lg:flex-row justify-between">
      <app-character-list-filter
        (onCharacterListFilterChange)="getCharacterListByFilter($event)">
      </app-character-list-filter>
      <app-pagination class="my-0 mx-auto lg:m-0"
                      [currentPage]="currentPage"
                      [pageCount]="(characterListData$ | async) ? (characterListData$ | async)!.info.pages : 1">
      </app-pagination>
    </div>
  </app-control-section>
</div>
<div class="container">
  <app-loading *ngIf="isCharacterListLoading$ | async"></app-loading>
  <app-backend-error-message
    *ngIf="characterListError$ | async"
    [errorMessage]="(characterListError$ | async)!.error.error">
  </app-backend-error-message>
  <ng-container *ngIf="characterListData$ | async">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 pb-4">
      <div *ngFor="let character of (characterListData$ | async)!.results">
        <app-character [character]="character"></app-character>
      </div>
    </div>
  </ng-container>
</div>
