<div class="container">
  <div class="flex justify-between">
    <app-character-list-filter
      (onCharacterListFilterChange)="getCharacterListByFilter($event)">
    </app-character-list-filter>
    <app-pagination [currentPage]="currentPage"
                    [pageCount]="(characterListData$ | async) ? (characterListData$ | async)!.info.pages : 1">
    </app-pagination>
  </div>
  <div>
    <app-loading *ngIf="isCharacterListLoading$ | async"></app-loading>
    <app-backend-error-message
      *ngIf="characterListError$ | async"
      [errorMessage]="(characterListError$ | async)!.error.error">
    </app-backend-error-message>
    <ng-container *ngIf="characterListData$ | async">
      <div *ngFor="let character of (characterListData$ | async)!.results">
        <app-character [character]="character"></app-character>
      </div>
    </ng-container>
  </div>
</div>
